{% extends "base.html" %}
{% block content %}

<h1>{{name}}</h1>
<form method="post" action="/dispatch">
  
<h3>Paste your sequence here:</h3>

<p>Or leave blank to see the results with my favorite sequence.</br></p>

<textarea name="seq" rows="20" cols="60" style="resize: none;" data-role="none"></textarea>
<hr>
  
<p><input type="submit" value="Submit form"></p>

<input type="hidden" value="format_DNA" name="prog" />
<input type="hidden" value="seq_entry" name="form" />

</form>
{% endblock %}
